* {margin: 0; padding: 0; box-sizing: border-box;}
img{display: block;}
ul, li{list-style: none;}
a{display: block; text-decoration: none; color: inherit;}
.flex{display: flex;}
.grid{display: grid;}
.none{display: none;}
body{overflow-x: hidden;}

.icons{width: 1400px; height: 600px; margin: 100px auto; grid-template-columns: repeat(6, 1fr); gap: 40px; justify-items: center;}
.icons .icon{width: 190px; height: 300px; flex-direction: column; align-items: center; text-align: center; cursor: pointer; transition: .3s;}
.icons .icon h3{margin: 10px 0; font-size: 22px;}
.icons .icon p{font-weight: bold; color: rgb(104, 104, 255);}
.icons .icon img{object-fit: cover; width: 100%; border-radius: 10px;}


.icons .icon:hover{transform: scale(0.92); transition: .3s;}




.popup{position: fixed; justify-content: center; align-items: center; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, .8);}
.popup article{background: #fff; width: 400px; height: 700px; flex-direction: column; align-items: center; position: relative; border-radius: 30px; padding: 30px;}
.popup .close_btn{position: absolute; width: 40px; line-height: 40px; font-size: 22px; color: #fff; border: none; border-radius: 100%; right: -17.5px; top: -17.5px; cursor: pointer;}

.popup .title{font-size: 38px; margin: 10px 0;}
.popup .icon{object-fit: cover; width: 230px; margin: 18px 0; border-radius: 10px;}
.popup .text{width: 260px; font-size: 26px; margin: 15px 0; text-align: center;}
.popup .qr{object-fit: cover; width: 105px; margin-top: 20px;}
.popup .play{object-fit: cover; width: 125px; margin: 13px 0;}


.footer{width: 100%; height: 300px;}























